nav {
  background-color: #78ccbc;
  color: white;
  height: 50px;
  font-weight: 600;
  font-size: 25px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  /* 他の要素よりも上に表示 */
}

.humbergerMenu {
  margin-right: auto;
}

.humbergerIcon {
  color: white;

}

.title {
  margin: auto;
}