.card {
  width: 290px;
  box-shadow: 2px 8px 21px 1px #777777;
  border-radius: 10px;
  background-color: white;
}

.cardName {
  padding: 0;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.title {
  margin: 10px 10px;
}
.ability {
  margin-bottom: 10px;
}

.titleLabel {
  font-weight: bold;
}
.titleValue {
  word-break: keep-all;
}
